# Aquí es donde ArgoCD mirará. Unimos la base, aplicamos el namespace de producción y añadimos la ruta de Istio.
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base
  #- httproute.yaml # El archivo que creamos antes para Istio

namespace: python-api-1-prod

# Parches para producción (ej. más réplicas)
patches:
  - target:
      kind: Deployment
      name: python-api-1
    patch: |-
      - op: replace
        path: /spec/replicas
        value: 3
