apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base
  - env-config.yaml
  - hpa.yaml
  #- httproute.yaml

namespace: python-api-1-dev

# Environment-specific patches
patches:
  - target:
      kind: ConfigMap
      name: python-api-1-config
    patch: |-
      - op: replace
        path: /data/LOG_LEVEL
        value: "DEBUG"
      - op: replace
        path: /data/ENVIRONMENT
        value: "development"
      - op: replace
        path: /metadata/annotations/config.environment
        value: "development"
  
  # Update environment labels for all resources
  - target:
      group: ""
      version: "v1"
      kind: Service
      name: python-api-1-service
    patch: |-
      - op: replace
        path: /metadata/labels/environment
        value: development
      - op: replace
        path: /metadata/labels/tier
        value: development
      - op: replace
        path: /metadata/annotations/description
        value: "Development ClusterIP service for Python API 1 application"
  
  - target:
      group: "apps"
      version: "v1"
      kind: Deployment
      name: python-api-1-deployment
    patch: |-
      - op: replace
        path: /metadata/labels/environment
        value: development
      - op: replace
        path: /metadata/labels/tier
        value: development
      - op: replace
        path: /metadata/annotations/description
        value: "Development deployment for Python API 1 application"
      - op: replace
        path: /spec/template/spec/containers/0/resources/limits/cpu
        value: "1"
      - op: replace
        path: /spec/template/spec/containers/0/resources/limits/memory
        value: "1Gi"
