apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# Hereda de base
# En el overlay kustomization.yaml

resources:
- ../../../base/app-python-api-1

# Namespace específico: app + entorno
namespace: python-api-1-dev

# Labels del entorno

# Patches específicos para dev
labels:
- includeSelectors: true
  pairs:
    environment: dev
patches:
- patch: |-
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: python-api-1-deploy
    spec:
      replicas: 1
      revisionHistoryLimit: 3
      template:
        spec:
          containers:
            - name: python-api-1
              env:
                - name: LOG_LEVEL
                  value: "debug"
                - name: ENVIRONMENT
                  value: "development"
