apiVersion: apps/v1
kind: Deployment
metadata:
  name: python-api-1-deploy
  labels:
    app: python-api-1
spec:
  replicas: 1
  selector:
    matchLabels:
      app: python-api-1
  template:
    metadata:
      labels:
        app: python-api-1
    spec:
      containers:
        - name: python-api-1
          # La imagen se actualizará automáticamente con Kustomize (set image)
          image: ghcr.io/medaqueno/k8s-lab-apps-python-1:latest
          ports:
            - containerPort: 8000
              name: http
          envFrom:
            - configMapRef:
                name: python-api-1-config
          # Healthchecks usando tu endpoint /health
          livenessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 10
            periodSeconds: 15
          readinessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 5
