apiVersion: apps/v1
kind: Deployment
metadata:
  name: python-api-1
  namespace: dev-python-api-1
spec:
  replicas: 1
  selector:
    matchLabels:
      app: python-api-1
  template:
    metadata:
      labels:
        app: python-api-1
    spec:
      containers:
        - name: python-api-1
          image: ghcr.io/medaqueno/k8s-lab-apps-python-api-1:latest
          ports:
            - containerPort: 8000
