apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

commonLabels:
  tier: application

resources:
- namespace.yaml
- configmap.yaml
- deployment.yaml
- service.yaml
- httproute.yaml
images:
- name: ghcr.io/medaqueno/k8s-lab-apps-demo-app
  newName: ghcr.io/medaqueno/k8s-lab-apps-demo-app
  newTag: 65bb419